
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header text-center">
        Health Insurance System
    </div>
    <div class="card-body">
        <p>
            Dự án này nhằm phát triển Hệ thống Bảo hiểm Y tế trực tuyến. Một Tổ chức muốn bắt đầu Bảo hiểm Y tế cho nhân viên của mình. Hệ thống Medicare sẽ duy trì tất cả thông tin liên quan đến nhân viên (Bệnh nhân), duy trì các Khiếu nại liên quan đến các công ty Bảo hiểm, thông tin về tất cả các loại dịch vụ y tế do bệnh viện cung cấp cho nhân viên của công ty, yêu cầu giải quyết và điều chỉnh đối với các dịch vụ của họ được ủy quyền bởi Các công ty bảo hiểm. Ngoài ra, hệ thống này cũng có thể duy trì tất cả các thông tin liên quan đến sức khỏe của nhân viên.
        </p>
    </div>
</div>

