<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Report</title>
    <link href="~/Areas/Admin/Assets/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/css/theme.css" rel="stylesheet" media="all">
</head>
<body>
    <div class="container"> 
        @RenderBody()
    </div>
</body>
</html>
